.about {
    padding-bottom: 30px;
  }
  .about-container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 0px;
  }
  
  .about h6 {
    font-size: 14px;
    color: #000000;
    margin-top: 10px;
    text-align: left;
  }
  
  .about p {
    font-size: 13px;
    color: rgb(82, 75, 75);
    line-height: 20px;
    text-align: left;
  }