.download1 {
    background: #fff;
    background-position: right top;
    background-repeat: no-repeat;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  
  .download-container1 {
    max-width: 1300px;
    margin: 0 0;
    margin-top: 2px;
    padding: 0px 0px;
    display: flex;
  }
  
  .download-img-container1 {
    width: 55%;
  }
  
  .download-img-container1 img {
    width: 100%;
  }
  
  .download-content1 {
    width: 30%;
    display: flex;
    flex-direction: column;
  }
  
  .download-title1 {
    font-size: 40.4px;
    color: #222222;
    margin-top: 2px;
    margin-left: 0px;
  }
  
  .download-store1 {
    width: 200px;
    max-width: 1300px;
    margin: 0 0;
    margin-top: 0px;
    padding: 0px 10px;
    margin-right: 200px;
  }
  
  .download-store1 {
    margin-top: 0px;
  } 
  
  .download-store11 {
    height: 600px;
    margin-top: 0px;
  }
  
  
  @media (max-width: 700px) {
    .download-container1 {
      flex-direction: column;
      padding-bottom: 20px;
      margin-top: 20px;
    }
    .download-img-container1 {
      width: 50%;
    }
    .download-content1 {
      width: 80%;
      margin-top: 20px;
    }
    .download-title1 {
      font-size: 30px;
      font-weight: bold;
      line-height: 1.33;
      color: #222222;
      margin-bottom: 15px;
    }
  }